.App {
  font-size: calc(10px + 2vmin);
  width: 80%;
  margin: 140px auto;
  color: black;
}
fieldset {
  margin-top: 32px;
  margin-bottom: 64px;
}
pre {
  color: white;
  padding: 12px;
  background: #313131;
  display: inline-block;
  margin-left: 16px;
  font-size: 12px;
  float: right;
}
li {
  cursor: pointer;
  font-size: 16px;
  padding: 4px 0;
}
li:hover {
  text-decoration: underline;
}
input {
  padding: 3px;
  height: 22px;
  min-width: 230px;
}
button {
  padding: 8px 24px;
  background: transparent;
  border-width: 0;
  cursor: pointer;
  background: #313131;
  color: white;
  border-radius: 40px;
}
button.primary {
  background: #3498db;
}
label {
  clear: both;
  margin-top: 8px;
  display: block;
}
